<div id="viajes-top"></div>
<section class="content container">
  <div class="intro">
    <h2 class="title typography-section-title">{{ 'viajes.title' | t }}</h2>
  </div>

  <article class="viajes-body typography-body-text" aria-labelledby="travel-intro">
    <section class="viajes-section" id="travel-intro">
      <h3 class="viajes-section__title">{{ 'viajes.section1.title' | t }}</h3>
      <p>{{ 'viajes.section1.body1' | t }}</p>
    </section>

    <section class="viajes-section" aria-labelledby="travel-wonders">
      <h3 class="viajes-section__title" id="travel-wonders">{{ 'viajes.section2.title' | t }}</h3>
      <p>{{ 'viajes.section2.body1' | t }}</p>
      <p>{{ 'viajes.section2.body2' | t }}</p>
    </section>

    <section class="viajes-section" aria-labelledby="travel-opportunities">
      <h3 class="viajes-section__title" id="travel-opportunities">{{ 'viajes.section3.title' | t }}</h3>
      <p>{{ 'viajes.section3.body1' | t }}</p>
      <p>{{ 'viajes.section3.body2' | t }}</p>
    </section>

    <section class="viajes-section" aria-labelledby="travel-community">
      <h3 class="viajes-section__title" id="travel-community">{{ 'viajes.section4.title' | t }}</h3>
      <p>{{ 'viajes.section4.body1' | t }}</p>
      <p>{{ 'viajes.section4.body2' | t }}</p>
    </section>

    <section class="viajes-section" aria-labelledby="travel-organization">
      <h3 class="viajes-section__title" id="travel-organization">{{ 'viajes.section5.title' | t }}</h3>
      <p>{{ 'viajes.section5.body1' | t }}</p>
      <p>{{ 'viajes.section5.body2' | t }}</p>
    </section>
  </article>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  <div class="volver-arriba">
    <button type="button" class="btn-volver-arriba" (click)="scrollToTopAnchor()">
      <img src="assets/icons/flecha.png" alt="Volver arriba" width="28" height="28" />
    </button>
  </div>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
</section>