<div class="activities-section">
  <h2>{{ languageService.getTranslation('activities') }}</h2>
</div>
<div class="button-container">
  <button routerLink="/viajes">
    <img src="assets/icons/plane.png" alt="Plane">
    <span class="button-title">{{ languageService.getTranslation('viajes') }}</span>
    <span class="button-info">{{ languageService.getTranslation('viajesInfo') }}</span>
  </button>
  <button>
    <img src="assets/icons/cup.png" alt="Cup">
    <span class="button-title">{{ languageService.getTranslation('cafe') }}</span>
    <span class="button-info">{{ languageService.getTranslation('cafeInfo') }}</span>
  </button>
  <button>
    <img src="assets/icons/shake.png" alt="Shake">
    <span class="button-title">{{ languageService.getTranslation('consulting') }}</span>
    <span class="button-info">{{ languageService.getTranslation('consultingInfo') }}</span>
  </button>
</div>
<div class="about-section">
  <h2>{{ languageService.getTranslation('nosotros') }}</h2>
  <p>{{ languageService.getTranslation('aboutDescription') }}</p>
</div>
<div class="subscribe-button-container">
  <button class="subscribe-button">
    {{ languageService.getTranslation('suscribete') }}
  </button>
</div>