<div class="switcher">
  <!-- Boton del idioma -->
  <button
    type="button"
    class="switch"
    aria-haspopup="menu"
    [attr.aria-expanded]="open"
    [attr.aria-label]="'Idioma: ' + currentAlt()"
    title="Español / English / 中国人"
    (click)="toggle($event)">
    <img class="icon" src="assets/icons/idiomw.png" alt="Seleccionar idioma" />
  </button>

  <!-- Menu con las dos banderas restantes -->
  <ul *ngIf="open" class="menu" role="menu">
    <li *ngFor="let l of otherLangs" role="none">
      <button
        type="button"
        role="menuitem"
        class="opt"
        (click)="onChoose(l.code, $event)">
        <img
          class="flag"
          [src]="flagSrc(l.code)"
          [alt]="l.label"
          (error)="onFlagError($event, l.code)" />
        <!-- <span class="sr-only">{{ l.label }}</span> -->
      </button>
    </li>
  </ul>
</div>


