<div class="viajes-description-box">
  <div class="plane-icon-wrapper">
    <img src="assets/icons/media.png" alt="social" class="plane-icon" />
  </div>
  <span>
    <span [innerHTML]="languageService.getTranslation('mediaText')"></span><br/><br/>
    <div style="margin-top: 8px; display: flex; flex-direction: column; gap: 8px;">
      <a href="https://www.meetup.com/creasia-conectando-con-china-de-una-manera-creativa/" target="_blank" style="color: #d4a017; text-decoration: underline; display: flex; align-items: center;">
        <img src="assets/icons/meetup.png" alt="Meetup" style="width: 22px; height: 22px; margin-right: 8px;">Meetup
      </a>
      <a href="https://www.facebook.com/creasiaconnect/" target="_blank" style="color: #d4a017; text-decoration: underline; display: flex; align-items: center;">
        <img src="assets/icons/facebook.png" alt="Facebook" style="width: 22px; height: 22px; margin-right: 8px;">Facebook
      </a>
      <a href="https://www.instagram.com/creasiaofficial/" target="_blank" style="color: #d4a017; text-decoration: underline; display: flex; align-items: center;">
        <img src="assets/icons/instagram.png" alt="Instagram" style="width: 22px; height: 22px; margin-right: 8px;">Instagram
      </a>
    </div>
  </span>
  <br/><br/>
    <span [innerHTML]="languageService.getTranslation('mediaSuscribe')"></span><br/><br/>
</div>