<p>suscribete works!</p>
<br/>

<span class="plane-icon" style="display: flex; justify-content: center; margin-bottom: 18px;">
  <img src="assets/icons/plane.png" alt="Plane" style="width:56px; height:56px;">
</span>
<div class="viajes-description-box">
  <span>
    Viajar a China con Creasia es mucho más que hacer turismo: es sumergirse en una cultura milenaria de la mano de expertos locales y compartir la experiencia con un grupo diverso y entusiasta.<br/><br/>Disfruta de la gastronomía tradicional, explora paisajes impresionantes y participa en talleres culturales que te acercarán a las costumbres chinas con el acompañamiento de nuestro equipo.
  </span><form style="margin-top: 32px; display: flex; flex-direction: column; gap: 12px;">
    <label>
      ¿Cuándo te gustaría viajar? <br/><br/> Desde:
      <input type="date" name="fechaInicio" required>
    </label>
    <label>
      Hasta:
      <input type="date" name="fechaFin" required>
    </label>
    <button type="submit" style="width: fit-content; align-self: flex-end;">Enviar</button>
  </form>
</div>