<div class="viajes-description-box">
  <div class="plane-icon-wrapper" style="display: flex; justify-content: center; align-items: flex-start; margin-bottom: 8px; margin-top: -10px;">
    <img src="assets/icons/contacto.png" alt="contacto" class="plane-icon" style="width: 40px; height: 40px;">
  </div>
 <span [innerHTML]="languageService.getTranslation('contactoTexto')"></span>
    <br/><br/>

  <form (ngSubmit)="onSubmit()" style="margin: 18px 24px 0 24px; display: flex; flex-direction: column; gap: 12px;">
    <label>
      <span [innerHTML]="languageService.getTranslation('contactoMail')"></span><br>
      <input
        type="email"
        name="email"
        [(ngModel)]="mensaje.email"
        (input)="onEmailInput()"
        required
        style="width: 100%; padding: 6px; border-radius: 4px; border: 1px solid #ccc;"
        [ngStyle]="emailInvalido ? {'background-color': '#ffd6d6'} : {'background-color': '#fff'}"
      >
    </label>
    <label>
     <span [innerHTML]="languageService.getTranslation('contactoContenido')"></span><br>
      <textarea
        name="contenido"
        [(ngModel)]="mensaje.contenido"
        (input)="onContenidoInput()"
        required
        rows="5"
        maxlength="1000"
        style="width: 100%; padding: 6px; border-radius: 4px; border: 1px solid #ccc;"
        [ngStyle]="contenidoInvalido ? {'background-color': '#ffd6d6'} : {'background-color': '#fff'}"
      ></textarea>
    </label>
    <div style="display: flex; align-items: center; gap: 16px; justify-content: flex-end;">
      <span *ngIf="enviado" style="color: green; margin-right: auto;">¡Mensaje enviado!</span>
      <button
        type="submit"
        [disabled]="!mensaje.email || !mensaje.contenido"
        style="background: #d4a017; color: #fff; border: none; border-radius: 4px; padding: 8px 18px; cursor: pointer;">
        <span [innerHTML]="languageService.getTranslation('botonEnviar')"></span>
      </button>
    </div>
  </form>
</div>