<section class="consulting content container">
  &#8203;<br>
  <div class="consulting__intro">
    <p class="consulting__lead typography-subtitle">{{ 'consultoria.caption' | t }}</p>
  </div>

  <article class="consulting__body typography-body-text">
    <p>{{ 'consultoria.body1' | t }}</p>
    <p>{{ 'consultoria.body2' | t }}</p>
    <ul class="consulting__services">
      <li>{{ 'consultoria.service1' | t }}</li>
      <li>{{ 'consultoria.service2' | t }}</li>
      <li>{{ 'consultoria.service3' | t }}</li>
    </ul>
    <p>{{ 'consultoria.contact' | t }}</p>
  </article>
</section>
