
<div class="viajes-description-box">
  <div class="plane-icon-wrapper">
    <img src="assets/icons/novedades.png" alt="new" class="plane-icon" />
  </div>
  <span>
    Descubre todas las novedades de Creasia y mantente al día de nuestras últimas actividades y propuestas.<br/><br/>
    Aquí encontrarás información actualizada sobre próximos viajes, talleres, clases de chino y eventos culturales tanto en España como en China.<br/><br/>
    Compartimos noticias relevantes, experiencias de nuestra comunidad y oportunidades únicas para que no te pierdas nada.<br/><br/>
    Consulta esta sección regularmente para estar informado de todo lo que Creasia organiza y ofrece.<br/><br/>
    ¡Sigue nuestras novedades y forma parte activa de nuestra comunidad multicultural!<br/><br/>
  </span>
<div style="margin-top: 18px; font-size: 0.98em;">
  Si deseas que te enviemos más información y no perderte nada  
  <a [routerLink]="['/suscribete']" style="color: #d4a017; text-decoration: underline;">suscríbete</a> a Creasia.
</div>
</div>
