<footer class="ftr">
  <nav class="ftr__social" aria-label="Redes sociales">
    <a class="ftr__link" href="https://www.meetup.com/creasia-conectando-con-china-de-una-manera-creativa/"
      target="_blank" rel="noopener noreferrer">
      <img class="ftr__icon" src="assets/icons/meetup.png" alt="Meetup" />
    </a>
    <a class="ftr__link" href="https://www.facebook.com/creasiaconnect/" target="_blank" rel="noopener noreferrer">
      <img class="ftr__icon" src="assets/icons/facebook.png" alt="Facebook" />
    </a>
    <a class="ftr__link" href="https://www.instagram.com/creasiaofficial/" target="_blank" rel="noopener noreferrer">
      <img class="ftr__icon" src="assets/icons/instagram.png" alt="Instagram" />
    </a>
    <a class="ftr__link" href="mailto:mail@creasia.es">
      <img class="ftr__iconMail" src="assets/icons/sobre.png" alt="Correo" />
    </a>
    <a class="ftr__icon" href="/legal" aria-label="Ir a Actividades" title="Legal">
      <img class="ftr__iconb" src="assets/icons/balanza.png" alt="Legal" />
    </a>
    <a class="copy"><span>© Creasia 2025</span></a>
  </nav>
</footer>