.viajes-header-row {
  display: flex;
  flex-direction: row; // En fila, icono a la izquierda
  align-items: center;
  justify-content: center;
  margin: 48px 0 0 0; // Más espacio arriba, elimina espacio abajo
}

.plane-icon {
  width: 56px;
  height: 56px;
  border: 3px solid #000;
  border-radius: 50%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 28px; // Margen a la derecha del icono
  margin-left: 20px;
  flex-shrink: 0;
  
  
}

.viajes-description-box {
  background: rgba(255,255,255,0.85);
  border: 3px solid #000;
  border-radius: 18px;
  padding: 32px 40px; // Márgenes internos mayores
  //max-width: 1200px;
  font-size: 1.15rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  margin: 0 32px 48px 32px; // Más espacio debajo de la caja blanca
  text-align: justify; // <-- Texto justificado
  span {
    display: block;
    text-align: justify; // <-- Asegura justificado en hijos
  }
}

@media (max-width: 700px) {
  .viajes-header-row {
    flex-direction: column;
    align-items: center;
  }
  .plane-icon {
    width: 60px;
    height: 60px;
    margin: 0 0 14px 0;
    margin-left: 20px;
  }
  .viajes-description-box {
    margin: 0 8px;
    padding: 27px 30px; // Márgenes internos mayores
  }
}
@media (min-width: 701px) and (max-width: 1200px) {
  .viajes-header-row {
    flex-direction: column;
    align-items: center;
  }
  .plane-icon {
    width: 60px;
    height: 60px;
    margin: 0 0 154px 0;
    margin-left: 40px;
  }
  .viajes-description-box {
    margin: 90 8px;
  padding: 42px 50px; // Márgenes internos mayores
  }
}
@media (min-width: 1201px) {
  .viajes-header-row {
    flex-direction: column;
    align-items: center;
  }
  .plane-icon {
    width: 60px;
    height: 60px;
    margin: 0 0 154px 0;
    margin-left: 60px;
  }
  .viajes-description-box {
    margin: 90 8px;
  padding: 72px 60px; // Márgenes internos mayores
  }
}