<section class="content container">
  <div class="intro">
    <h2 class="title typography-section-title">{{ 'gourmet.title' | t }}</h2>
  </div>
  
  <article class="gourmet-body typography-body-text">
    <p>
      <span class="gourmet-highlight">{{ 'gourmet.leadHighlight' | t }}</span>
      {{ 'gourmet.leadBody' | t }}
    </p>

    <figure class="gourmet-figure gourmet-figure--right">
      <img src="assets/images/pasaporte.webp" [attr.alt]="'gourmet.altPassport' | t" loading="lazy"
        class="gourmet-image" />
    </figure>

    <p>{{ 'gourmet.secondParagraph' | t }}</p>
    <p>{{ 'gourmet.benefitsIntro' | t }}</p>
    <ul class="gourmet-list">
      <li>{{ 'gourmet.benefit1' | t }}</li>
      <li>{{ 'gourmet.benefit2' | t }}</li>
      <li>{{ 'gourmet.benefit3' | t }}</li>
    </ul>
    &#8203;<br>
    <figure class="gourmet-figure gourmet-figure--center">
      <img src="assets/images/comiendo.webp" [attr.alt]="'gourmet.altDining' | t" loading="lazy"
        class="gourmet-image gourmet-image--large" />
    </figure>
    &#8203;<br>
    <h3 class="gourmet-section__title">{{ 'gourmet.howTitle' | t }}</h3>
    <ol class="gourmet-steps">
      <li>{{ 'gourmet.step1' | t }}</li>
      <li>{{ 'gourmet.step2' | t }}</li>
      <li>{{ 'gourmet.step3' | t }}</li>
    </ol>
    &#8203;<br>

    <figure class="gourmet-figure gourmet-figure--right">
      <img src="assets/images/helado.webp" [attr.alt]="'gourmet.altKids' | t" loading="lazy"
        class="gourmet-image" />
    </figure>

    <p>{{ 'gourmet.closing1' | t }}</p>
    <p>{{ 'gourmet.closing2' | t }}</p>
  </article>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
  &#8203;<br>
</section>